Silva_DB/silva_nr99_v138.1_train_set.fa.gz
Silva_DB/silva_nr99_v138.1_wSpecies_train_set.fa.gz
Silva_DB/silva_species_assignment_v138.1.fa.gz
RDP_DB/rdp_species_assignment_18.fa.gz
RDP_DB/rdp_train_set_18.fa.gz
